<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.min.js"></script>
    <title>Cyber-Fusion</title>
</head>
<body>
    <!-- <h2>CYBER FUSION</h2>
    <div>
        <label for="input_data">command:</label>
        <input type="text" id="input_data" name="input_data" required>
        <button id="postButton" onclick="handlePostButtonClick()">Enter</button>
        <div id="outputData"></div>
    </div> -->
    <script>
        function command(cmd) {
            fetch(`/save_command/?command=${cmd}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                })
                .catch(error => {
                    // Handle error
                    console.error('Error sending POST request:', error);
                });
        }

        term = $('body').terminal({
            ls: command('ls'),
            get: function() {
                fetch('/get_output')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data['output'] !== 'ErrorNoOutput') {
                        this.echo(data['output']);
                        const outputDataDiv = document.getElementById('outputData');
                        const p = document.createElement('p');
                        let sanitizedData = DOMPurify.sanitize(data['output']);
                        let formattedData = sanitizedData.replace(/\n/g, "<br>");
                        p.innerHTML = formattedData;
                        outputDataDiv.appendChild(p);
                    }
                })
            },
        }, {
            greetings: ''

        });
    </script>
    <script>

        function fetchData() {
            fetch('/get_output')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data['output'] !== 'ErrorNoOutput') {
                        term.echo(data['output'])
                    }
                })
        }

        // Run the fetchData function every 2 seconds
        setInterval(fetchData, 500); 

    </script>
</body>
</html>